body{
    background-color: #E5E5E5;
    font-family: 'Montserrat', sans-serif;
}

/* Right section styles */

 .about-me-profession {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-top: 100px;
}

#personName {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-top: 30px; 
}

 .right-section{
    padding-right: 220px;
    background-color:#FFFFFF;
    padding-left: 90px;
 }


 .main-section {
    display: flex;
    flex-direction: row-reverse;
    width: 1200px; 
    margin: 40px auto;
 }


.about-me-section { 
    width: 400px;
}

.about-me-section p{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.projects-section{
    margin: 40px 0 0 0;  
}

.block-title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

ol li,.bracket{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}

.projects-item{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #595959;
    margin-left: 10px;
}

.projects-section ol{
    padding-left: 18px;
}

.work-experience-section {
    margin-top: 50px;
}

.work-experience-position{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
}

.work-experience-company{
color: #FB6D3A;
}

.work-experience-period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.line-break{
    color: #000000;
}

.work-experience-duties{
    padding-left: 18px;
}

.work-experience-duties li{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}

.education-section{
    margin-bottom: 110px;
    margin-top: 40px;
}

.education-institute{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.education-profile{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}

.education-period{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
}

.education-period span{
    color: #000000;
}


/* Sidebar styles */
.sidebar-section {
    background-color:#1E2939;
    width: 370px;
}

.sidebar-section img{
    margin-top: 40px;
}

.sidebar-title{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: white;  
}

.contacts-section, .tech-skills-section,.soft-skills-section {
    margin-left: 40px;
}

.contacts-section-type{
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contacts-section-value{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #3A4352;
}
.sidebar-list{
    color:#FB6D3A;
    padding-left: 20px;
    
}

.tech-skills-section ul span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.soft-skills-section ul span{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

